{% extends 'base.html.twig' %}

{% block title %}
    Dashboard - DreamTeach
{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-8 mx-auto">
            <form action="{{ path('search_xp_view') }}" method="get" id="search_xp_form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" id="rechercherInput" class="form-control"
                                   placeholder="Recherchez un étudiant.."
                                   name="search_xp">
                        </div>
                        <div class="col-3">
                            <input type="submit" id="rechercherBtn" value="Rechercher" class="btn"
                                   style="background-color: #6d7fcc; color: white;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <table data-toggle="table" class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center" scope="col">
                        Classement
                    </th>
                    <th class="text-center" scope="col">
                        Nom
                    </th>
                    <th class="text-center" scope="col">

                        Prénom
                    </th>
                    <th class="text-center" scope="col">

                        Ville
                    </th>
                    <th class="text-center" scope="col">

                        Ecole
                    </th>
                    <th class="text-center" scope="col">
                        XP
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if classementxp is not null %}
                    {% for classement, i in classementxp %}
                        {% set medaille = "" %}
                        {% if classement == 0 %}
                            {% set medaille = "&#x1F947;" %}
                        {% elseif classement == 1 %}
                            {% set medaille = "&#x1F948;" %}
                        {% elseif classement == 2 %}
                            {% set medaille = "&#x1F949;" %}
                        {% else %}
                            {% set medaille = classement + 1 %}
                        {% endif %}
                        <tr>

                            <td class="text-center"> {{ medaille | raw }} </td>

                            <td class="text-center"> {{ i.lastName }}</td>

                            <td class="text-center"> {{ i.firstName }}</td>

                            <td class="text-center">{{ i.city }}</td>

                            <td class="text-center">  {{ i.trainingID.schoolID.name }}</td>

                            <td class="text-center">  {{ i.xpWon }}</td>
                        </tr>
                    {% endfor %}
                {% elseif classementxpSearch is not null %}
                    {% for j in classementxpSearch %}
                        <tr>


                            <td> {{ j.lastName }}</td>

                            <td>{{ j.firstName }}</td>

                            <td>{{ j.city }}</td>

                            <td>  {{ j.trainingID.schoolID.name }}</td>

                            <td>  {{ j.xpWon }}</td>
                        </tr>


                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    {% block javascripts %}
        <script>


        </script>



    {% endblock %}


{% endblock %}



