{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block stylesheets %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
{% endblock %}

{% block body %}
    <style>
        .col
        {
            border: 1px solid rgba(86,61,124,.2);
        }
    </style>
    <div class="container mt-5">
        <h1 class="display-4 text-center">Conversation avec {{ sender.firstname }} {{ sender.lastname }}</h1>
    </div>
        <div class="container mt-5">
            <div class="row text-center">
                <div class="col col-lg-2 pt-1"><h5>Utilisateur</h5></div>
                <div class="col pt-1"><h5>Derniers messages</h5></div>
            </div>
            {% for m in messages %}
                <div class="row messageDiv">
                    <div class="text-center col col-lg-2 pt-3 pb-3">
                        <h6>{{ m.idSender.firstName }} {{ m.idSender.lastName }}</h6>
                        {% if m.idSender.avatar %}
                            <img class="img-thumbnail img-fluid" height="100px" width="100px" src={{ asset('uploads/avatars/' ~ m.idSender.avatar) }}>
                        {% else %}
                            <img class="img-thumbnail img-fluid" height="100px" width="100px" src="{{ asset('img/tom_bg.jpg') }}"
                            >
                        {% endif %}
                    </div>
                    <div class="col pt-3"><p>{{ m.content}}</p></div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col pt-3 pb-3">
                    {{ form_start(form) }}
                        {{ form_widget(form.content, {"attr" : {"class" : "form-control", "placeholder" : "Votre message...", "required" : ""}}) }}
                    <input type="submit" value="Envoyer" class="btn btn-primary btn-lg btn-block pt-2 pb-2">
                    {{ form_end(form) }}
                    <!--<textarea class="form-control" id="description" name="description" rows="3"></textarea><br />-->
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#description').summernote({
            placeholder: '...',
            tabsize: 2,
            height: 100
        });
    </script>
{% endblock %}


