{% extends 'base.html.twig' %}

{% block title %}
    Dashboard - DreamTeach
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-8">
        {% if "now"|date("H") >= 15 %}
            <h5>Bonsoir {{ app.user.firstname }} ! <i style="color: dimgrey" class="fas fa-moon"></i></h5>
        {% else %}
            <h5>Bonjour {{ app.user.firstname }} ! <i style="color: yellow" class="fas fa-sun"></i></h5>
        {% endif %}
        Bienvenue sur votre espace personnel
    </div>
    <div class="col-4 alert alert-success">

    </div>
</div>
<div class="row justify-content-between mt-5">
    <div class="col-6 col-sm-2 alert alert-danger text-center"><h6>Séances dirigées</h6>{{ nbSessionOrganized }}</div>
    <div class="col-6 col-sm-2 alert alert-warning"></div>
    <div class="col-6 col-sm-2 alert alert-primary"></div>
    <div class="col-6 col-sm-2 alert alert-secondary"></div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h6><i class="fa fa-graduation-cap fa-lg"></i>&nbsp;Prochaines séances</h6>
            </div>
            <div class="card-body">
                        {% for i in session %}
                            <div class="row border ml-1 mr-1">
                                <div class="col-8 pt-4">
                                    {{ i.name()|slice(0, 41)}}{% if i.name()|length > 41 %} ...{% endif %}
                                </div>

                                <div class="col-4">
                                    <div class="col-12 text-right pr-0 pt-2">
                                        {{ i.date.format('d-m-Y') }}
                                    </div>
                                    <div class="col-12 text-right pr-0">
                                        {{ i.startingTime.format('H:i') }} - {{ i.endingTime.format('H:i') }}
                                    </div>
                                </br>
                                </div>
                                <div class="col-8 pb-4">
                                    {{ i.subjectID.getName() }}
                                </div>
                                <div class="col-4 text-right pt-3">
                                    5 participants
                                </div>
                                </br>
                            </div>
                            </br>
                        {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h6><i class="far fa-envelope fa-lg"></i>&nbsp; Messages récents</h6>
                </div>
                <div class="card-body"></div>
            </div>
        </div>
{% endblock %}



