{% extends 'base.html.twig' %}

{% block title %}
    Dashboard - DreamTeach
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8">
            {% if "now"|date("H") >= 18 %}
                <h5>Bonsoir {{ app.user.firstname }} ! <i style="color: dimgrey" class="fas fa-moon"></i></h5>
            {% else %}
                <h5>Bonjour {{ app.user.firstname }} ! <i style="color: yellow" class="fas fa-sun"></i></h5>
            {% endif %}
            Bienvenue sur votre espace personnel
            <hr style="background-color: #6d7fcc;"/>

            <p class="mb-0">{{ quote.quotecontent }}</p>
            <footer class="blockquote-footer"><cite title="Source Title">{{ quote.author }}</cite></footer>

        </div>
        <div class="col-4 align-bottom alert" style="background-color: #F4F4F4;color: black; border-style: solid;  border-width:1px; border-color: lightgray;" >
            <div class="row">
                <h1 class="col-12 mb-0 justify-content-center d-flex">
                    <span class="level_text d-none d-lg-flex">Niveau &nbsp;</span><span>{{ (app.user.xpWon / 50)|slice(0,1) }}</span>
                </h1>
            </div>

            <div class="col-12 text-center mt-2">
                <div class="progress" style="height: 5px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
                         style="width:{{ ((app.user.xpWon)/50)|number_format(2, '.', ',')|slice(2,4) }}%; background-color: #6d7fcc;"
                         aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-center"> {{ ((app.user.xpWon)/50)|number_format(2, '.', ',')|slice(2,4)/2 }}
                        /50
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-8 mx-auto">
            <form action="{{ path('search_student_view') }}" method="get" id="search_student_form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" id="rechercherInput" class="form-control"
                                   placeholder="Recherchez un étudiant.."
                                   name="search_student">
                        </div>
                        <div class="col-3">
                            <input type="submit" id="rechercherBtn" value="Rechercher" class="btn" style="background-color: #6d7fcc; color: white;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-between mt-3">
            <div class="col-5 alert alert text-center" style="background-color: #F4F4F4;color: black; border-style: solid;  border-width:1px; border-color: lightgray;" ><h6>Séances
                    dirigées</h6>{{ nbSessionOrganized }}</div>
            <div class="col-2 text-center"></div>
            <div class="col-5  mx-auto alert alert text-center" style="background-color: #F4F4F4;color: black; border-style: solid;  border-width:1px; border-color: lightgray;" ><h6>Séances
                    assistées</h6>{{ nbSessionAttended }}</div>
        </div>
    </div>
    <hr style="background-color: #6d7fcc;"/>
    <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-header">
                <h6><i class="fas fa-exclamation-circle"></i> Séances passées en attente de feedback</h6>
            </div>
            <div class="card-body pb-0">
                {% if doneSessions.empty %}
                    <p>Aucun feedback à donner pour l'instant! Merci pour votre participation :) </p>
                {% endif %}
                {% for i in doneSessions %}
                    <div class="row border ml-1 mr-1"
                         onclick="location.href =`{{ path('displaySession', {'session' : i.id()}) }}`"
                         style="cursor: pointer">
                        <div class="col-6 pt-2">
                            <u>{{ i.name()|slice(0, 41) }}{% if i.name()|length > 41 %} ...{% endif %}</u>
                        </div>

                        <div class="col-6">
                            <div class="col-12 text-right pr-0 pt-2 ">
                                <p class="mb-0">{{ i.date.format('d-m-Y') }}</p>
                            </div>
                            <div class="col-12 text-right pr-0">
                                <p class="mb-0">{{ i.startingTime.format('H:i') }}
                                    - {{ i.endingTime.format('H:i') }}</p>
                            </div>
                            </br>
                        </div>

                        </br>
                    </div>
                    </br>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12 col-lg-8 col-xl-6 mx-auto my-2">
        <div class="card">
            <div class="card-header">
                <h6><i class="fa fa-graduation-cap fa-lg"></i>&nbsp;Prochaines séances</h6>
            </div>
            <div class="card-body pb-0">
                {% for i in session %}
                    <div class="row border ml-1 mr-1"
                         onclick="location.href =`{{ path('displaySession', {'session' : i.id()}) }}`"
                         style="cursor: pointer">
                        <div class="col-6 pt-2">
                            <u>{{ i.name()|slice(0, 41) }}{% if i.name()|length > 41 %} ...{% endif %}</u>
                        </div>

                        <div class="col-6">
                            <div class="col-12 text-right pr-0 pt-2 ">
                                <p class="mb-0">{{ i.date.format('d-m-Y') }}</p>
                            </div>
                            <div class="col-12 text-right pr-0">
                                <p class="mb-0">{{ i.startingTime.format('H:i') }}
                                    - {{ i.endingTime.format('H:i') }}</p>
                            </div>
                            </br>
                        </div>
                        <div class="col-6 pb-2">
                            {% if i.subjectID is not null %}
                                {{ i.subjectID.getName() }}
                            {% endif %}
                        </div>
                        <div class="col-6 text-right pB-2">
                            {{ (i.getStudentid)|length }} participant(s)
                        </div>
                        </br>
                    </div>
                    </br>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8 col-xl-6 mx-auto my-2">
        <div class="card">
            <div class="card-header">
                <h6><i class="far fa-envelope fa-lg"></i>&nbsp; Messages récents</h6>
            </div>
            <div class="card-body pb-0">
                {% for m in messages %}

                    <div class="row border ml-1 mr-1"
                         onclick="location.href =`{{ path('ShowConversation', {'idStudent' : m.idSender.uuid}) }}`"
                         style="cursor: pointer">
                        <div class="col-8 pt-1">
                            <p class="mb-0">De : {{ m.idSender.firstName }} {{ m.idSender.lastName }}</p>
                            <p>Le : {{ m.date.format('d-m-Y') }}</p>
                        </div>

                        <div class="col-4 py-3 px-auto text-right">
                            {% if m.idSender.avatar %}
                                <img class="img-thumbnail img-fluid" height="75px" width="75px"
                                     src={{ asset('uploads/avatars/' ~ m.idSender.avatar) }}>
                            {% else %}
                                <img class="img-thumbnail img-fluid" height="75px" width="75px"
                                     src="{{ asset('img/imageBaseProfil.png') }}"
                                >
                            {% endif %}
                        </div>

                        <div class="col-12 text-justify pb-3">
                            {{ m.content|slice(0, 100) }}{% if m.content|length > 100 %} ...{% endif %}
                        </div>
                    </div>
                    <br/>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                if ($("#rechercherInput").val().length <= 0) {
                    $("#rechercherBtn").attr('disabled', true);
                } else {
                    $("#rechercherBtn").attr('disabled', false);
                }

                $('#search_student_form').submit(function (e) {
                    if ($("input[name=search_student]").val() === '') {
                        e.preventDefault();
                    }
                })

                $("#rechercherInput").keyup(function () {
                    if ($("#rechercherInput").val().length <= 0) {
                        $("#rechercherBtn").attr('disabled', true);
                    } else {
                        $("#rechercherBtn").attr('disabled', false);
                    }
                })

                $("#adresseEmail").keypress(function () {
                    if ($("#adresseEmail").val().indexOf("@") > 0 && ($("#adresseEmail").val().indexOf(".") > 2 && $("#adresseEmail").val().indexOf(".") < ($("#adresseEmail").val().length) - 1)) {
                        $("#submitEmail").attr('disabled', false);
                    } else {
                        $("#submitEmail").attr('disabled', true);
                    }
                })
                $("#adresseEmail").keyup(function (e) {
                    if ($("#adresseEmail").val().indexOf("@") > 0 && ($("#adresseEmail").val().indexOf(".") > 2 && $("#adresseEmail").val().indexOf(".") < ($("#adresseEmail").val().length) - 1)) {
                        $("#submitEmail").attr('disabled', false);
                    } else {
                        $("#submitEmail").attr('disabled', true);
                    }
                })
            });
        </script>
    {% endblock %}
{% endblock %}