{% extends 'base.html.twig' %}

{% block title %}Séance - DreamTeach{% endblock %}

{% block body %}

    <div class="container-fluid">
    {% for flash in app.flashes %}
        {{ flash }}
    {% endfor %}
    <p id="sessionID" hidden>{{ session.id }}</p>
    <div class="card">
        <div class="card-header" style="background-color: rgba(0,0,0,.00);">
            <h2>Description séance</h2>
            {% if app.user == session.organizerid %}
                <a href="{{ path('updateSession', {'idSession': session.id}) }}" class="btn btn-primary float-right">Modifier la séance</a>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <div class="form-row">
                        <div class="form-group col" id="matiereEtudiee">
                            <p class="font-weight-bold"> Matière étudiée</p>
                            {{ session.subjectid.name }}
                        </div>
                        <div class="col">
                            <p class="font-weight-bold">Nom Session </p>
                            {{ session.name }}
                        </div>
                    </div>
                    <p class="font-weight-bold">Description séance</p>
                    {{ session.description }}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header" style="background-color: rgba(0,0,0,.00);">
            <h2>Planification</h2>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <p class="font-weight-bold">Date</p>
                    {{ session.date.format('Y-m-d') }}
                </div>
                <div class="form-group col-md-4">
                    <p class="font-weight-bold">Heure de début</p>
                    {{ session.startingtime|date('H:i') }}
                </div>
                <div class="form-group col-md-4">
                    <p class="font-weight-bold">Heure de fin</p>
                    {{ session.endingtime|date('H:i') }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <p class="font-weight-bold">Nombre max de participants</p>
                    {{ session.maxnbparticipant }}
                </div>
                {% if session.isvirtual %}
                    <div class="form-group col-md-8">
                        <p class="font-weight-bold">Logiciel vocal</p>
                        {{ session.vocalSoftware }}
                    </div>
                {% endif %}
            </div>
            {% if session.isvirtual==false %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <p class="font-weight-bold">Ville </p>
                        {{ session.city }}
                    </div>
                    <div class="form-group col-md-6">
                        <p class="font-weight-bold">Etablissement</p>
                        {{ session.place }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header" style="background-color: rgba(0,0,0,.00);">
            <h2>Commentaires</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5>Autres commentaires</h5>
                    </div>
                </div>
                <br/>
                {% for commentTmp in allSessionComments %}
                    <div class="row">
                        <div class="col">
                            <strong>
                                {{ commentTmp.idStudent.lastName }}
                                {{ commentTmp.idStudent.firstname }}:&nbsp;
                                {% if commentTmp.note > 0 %}
                                    {% for j in 1..commentTmp.note %}
                                        <span class="fa fa-star" style="color:orange"></span>
                                    {% endfor %}
                                    {% if commentTmp.note < 5 %}
                                        {% for j in 1..5 - commentTmp.note %}
                                            <span class="far fa-star"></span>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {% for j in 1..5 %}
                                        <span class="far fa-star"></span>
                                    {% endfor %}
                                {% endif %}
                            </strong>
                            <br/>
                            {{ commentTmp.comment }}
                        </div>
                    </div>
                    <br/>
                {% endfor %}
                <br/>

                <div class="row">
                    <div class="col">
                        <h5>Donnez votre avis sur la séance</h5>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        {{ form_start(formComment) }}
                        <label for="commentaire">Ajouter un commentaire</label>
                        {{ form_widget(formComment.comment, {'id': 'commentaire'}) }}
                    </div>
                    <div class="col">
                        <label for="commentaire">Note</label>
                        {{ form_widget(formComment.note, {'id': 'note'}) }}

                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <button id="envoyerCommentaire" type="submit" class="btn btn-block"
                                style="background-color: #6d7fcc; color: white;">envoyer
                        </button>
                        {{ form_end(formComment) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h2>Donnez une note..</h2>
        </div>
        <div class="card-body">
            {% if not userHasAlreadyMarked %}
                {{ form_start(formMarking) }}
                <div class="form-group">
                    {{ form_row(formMarking.markingAmbience, {'id': 'markingAmbience'}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formMarking.markingEfficiency, {'id': 'markingEfficiency'}) }}
                </div>
                <input id="submitMarking" type="submit" value="Valider" class="btn btn-block"
                       style="background-color: #6d7fcc; color: white;">
                {{ form_end(formMarking) }}
            {% elseif userHasAlreadyMarked %}
                Vous avez deja noté cette scéance :
                <br>
                Ambiance :
                {% if userHasAlreadyMarked.markingAmbience > 0 %}
                    {% for j in 1..userHasAlreadyMarked.markingAmbience %}
                        <span class="fa fa-star" style="color:orange"></span>
                    {% endfor %}
                    {% if userHasAlreadyMarked.markingAmbience < 5 %}
                        {% for j in 1..5 - userHasAlreadyMarked.markingAmbience %}
                            <span class="far fa-star"></span>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for j in 1..5 %}
                        <span class="far fa-star"></span>
                    {% endfor %}
                {% endif %}

                <br>
                Efficacité :
                {% if userHasAlreadyMarked.markingEfficiency > 0 %}
                    {% for j in 1..userHasAlreadyMarked.markingEfficiency %}
                        <span class="fa fa-star" style="color:orange"></span>
                    {% endfor %}
                    {% if userHasAlreadyMarked.markingEfficiency < 5 %}
                        {% for j in 1..5 - userHasAlreadyMarked.markingEfficiency %}
                            <span class="far fa-star"></span>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for j in 1..5 %}
                        <span class="far fa-star"></span>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if averageAmbience and averageEfficiency > 0 %}
                <hr>
                <br>
                Pour cette session, la moyenne est de :
                <br>
                Ambiance : <span class="badge badge-primary">{{ averageAmbience|round(2, 'ceil') }} / 5</span>
                <br>
                Efficacité : <span class="badge badge-warning">{{ averageEfficiency|round(2, 'ceil') }} / 5</span>
            {% endif %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Fichiers disponibles</h2>
                </div>
                <div class="card-body">
                    {% if session.fileUploads %}
                        <ul class="list-group">
                            {% for file in session.fileUploads %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="{{ asset("uploads/files/") ~ file.filename }}">{{ file.filename }}</a>
                                    <span class="badge badge-primary badge-pill"><a href="#"><i
                                                    class="fas fa-times"></i></a></span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            Aucun fichier disponible !
                        </div>
                    {% endif %}
                    <br/>
                    <a href="{{ path('AddFile', {'session' : session.id}) }}" class="btn btn-block"
                       style="background-color: #6d7fcc; color: white;">Ajouter un fichier</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header" style="background-color: rgba(0,0,0,.00);">
            <h2>Partager la séance</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" placeholder="Ecrire le nom de l'étudiant"
                               onkeyup="showResult(this.value)">
                        <div id="livesearch"></div>
                    </div>
                    <br/>
                </div>
                <br/>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Liste des participants</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 mx-auto">
                            <div class="card border border-dark">
                                <div class="card-body text-center">
                                    <i class="fas fa-crown"></i> {{ session.organizerid.firstName ~ " " ~ session.organizerid.lastName }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        {% for participant in session.studentid if participant != session.organizerid %}
                            <div class="col-4 p-2 border">
                                {% if participant.avatar %}
                                    <img class="rounded-circle img-fluid"
                                         src="{{ asset('uploads/avatars/' ~ participant.avatar) }}" width="60px"
                                         height="60px"/>
                                {% else %}
                                    <img class="rounded-circle img-fluid"
                                         src="{{ asset('img/imageBaseProfil.png') }}" width="60px"
                                         height="60px"/>
                                {% endif %}
                                <a href="{{ path('student_other_profile', {'uuid_student':participant.uuid}) }}"
                                   class="float-right text-primary">{{ participant.firstName~" "~participant.lastName }}</a>
                                <div class="clearfix"></div>
                                {% if app.user == session.organizerid %}
                                    <a href="{{ path('delete_participant_in_session', {'session': session.id, 'student': participant.id}) }}"><span
                                                class="fas fa-times-circle text-danger float-right"></span></a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalid" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Partager la séance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment partager la séance avec <span id="nomprenom"></span> ?</p>
                </div>
                <div class="modal-footer">
                    <a id="linkpartage" href="#" class="button btn btn-primary">Oui</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script>
            $(document).ready(function () {
                var sessionDate = "{{ session.date|date('Y-m-d') }}";
                var sessionEndingTime = "{{ session.endingTime|date('H:i:s') }}";

                if ("{{ 'now'|date('Y-m-d') }}" < sessionDate) {
                    $("#envoyerCommentaire").attr('disabled', true);
                    $("#commentaire").attr('disabled', true);
                    $("#note").attr('disabled', true);
                    $("#submitMarking").attr('disabled', true);
                    $("#markingAmbience").attr('disabled', true);
                    $("#markingEfficiency").attr('disabled', true);
                } else {
                    if ("{{ 'now'|date('Y-m-d') }}" == sessionDate && "{{ 'now'|date('H:i:s', "Europe/Paris") }}" < sessionEndingTime) {
                        $("#envoyerCommentaire").attr('disabled', true);
                        $("#commentaire").attr('disabled', true);
                        $("#note").attr('disabled', true);
                        $("#submitMarking").attr('disabled', true);
                        $("#markingAmbience").attr('disabled', true);
                        $("#markingEfficiency").attr('disabled', true);
                    }
                }

            });
        </script>
        <script>
            function myFunction(str, id) {
                let idSession = $('#sessionID').html();
                $("#linkpartage").attr("href", "/accueil/shareSession/" + idSession + "/" + id);
                $('#nomprenom').html(str);
                $('#modalid').modal('toggle');
            }

            function showResult(str) {
                $.ajax({
                    url: "{{ path('SearchStudent') }}",
                    type: "POST",
                    dataType: "json",
                    data: {"char": str},
                    async: true,
                    success: function (data) {
                        console.log(data['student']);
                        let val = "";
                        for (let i = 0; i < data['student'].length; i++) {
                            val += "<a href=\"javascript:myFunction('" + data['student'][i] + "', '" + data['id'][i] + "')\">" + data['student'][i] + "</a><br/>";
                        }
                        if (val.length === 0) val = "Aucun résultat";
                        document.getElementById("livesearch").innerHTML = val;
                        document.getElementById("livesearch").style.border = "1px solid #A5ACB2";
                    }
                });
                if (str.length == 0) {
                    document.getElementById("livesearch").innerHTML = "";
                    document.getElementById("livesearch").style.border = "0px";
                    return;
                }
            }
        </script>
    {% endblock %}
{% endblock %}