{% extends 'base.html.twig' %}

{% block title %}Séance - DreamTeach{% endblock %}

{% block body %}

    <div class="container-fluid">
    {% for flash in app.flashes %}
        {{ flash }}
    {% endfor %}
    <p id="sessionID" hidden>{{ session.id }}</p>
    <div class="card">
        <div class="card-header" style="background-color: rgba(0,0,0,.00);">
            <h2>Description séance</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <div class="form-row">
                        <div class="form-group col" id="matiereEtudiee">
                            <p class="font-weight-bold"> Matière étudiée</p>
                            {{ session.subjectid.name }}
                        </div>
                        <div class="col">
                            <p class="font-weight-bold">Nom Session </p>
                            {{ session.name }}
                        </div>
                    </div>
                    <p class="font-weight-bold">Description séance</p>
                    {{ session.description }}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header" style="background-color: rgba(0,0,0,.00);">
            <h2>Plannification</h2>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <p class="font-weight-bold">Date</p>
                    {{ session.date.format('Y-m-d') }}
                </div>
                <div class="form-group col-md-4">
                    <p class="font-weight-bold">Heure de début</p>
                    {{ session.startingtime|date('H:i') }}
                </div>
                <div class="form-group col-md-4">
                    <p class="font-weight-bold">Heure de fin</p>
                    {{ session.endingtime|date('H:i') }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <p class="font-weight-bold">Nombre max de participants</p>
                    {{ session.maxnbparticipant }}
                </div>
                {% if session.isvirtual %}
                <div class="form-group col-md-8">
                    <p class="font-weight-bold">Logiciel vocal</p>
                    {{ session.vocalSoftware }}
                </div>
                {% endif %}
            </div>
            {% if session.isvirtual==false %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <p class="font-weight-bold">Ville </p>
                    {{ session.city }}
                </div>
                <div class="form-group col-md-6">
                    <p class="font-weight-bold">Etablissement</p>
                    {{ session.place }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header" style="background-color: rgba(0,0,0,.00);">
            <h2>Commentaires</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <h5>Autres commentaires</h5>
                </div>
                <br/>
                {% for commentTmp in allSessionComments %}
                    <div class="row">
                        <div class="col">
                            <strong>
                                {{ commentTmp.idStudent.lastName }}
                                {{ commentTmp.idStudent.firstname }}:&nbsp;
                                {% if commentTmp.note > 0 %}
                                    {% for j in 1..commentTmp.note %}
                                        <span class="fa fa-star" style="color:orange"></span>
                                    {% endfor %}
                                    {% if commentTmp.note < 5 %}
                                        {% for j in 1..5 - commentTmp.note %}
                                            <span class="far fa-star"></span>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {% for j in 1..5 %}
                                        <span class="far fa-star"></span>
                                    {% endfor %}
                                {% endif %}
                            </strong>
                            <br/>
                            {{ commentTmp.comment }}
                        </div>
                    </div>
                    <br/>
                {% endfor %}
                <br/>

                <div class="row">
                    <h5>Donnez votre avis sur la séance</h5>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        {{ form_start(formComment) }}
                        <label for="commentaire">Ajouter un commentaire</label>
                        {{ form_widget(formComment.comment, {'id': 'commentaire'}) }}
                    </div>
                    <div class="col">
                        <label for="commentaire">Note</label>
                        {{ form_widget(formComment.note, {'id': 'note'}) }}
                    </div>

                    <br/>
                </div>
                <br/>
                <div class="row">
                    <div class="col-3">
                        <button id="envoyerCommentaire" type="submit" class="btn btn-info">envoyer</button>
                        {{ form_end(formComment) }}
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% if ("now"|date('Y-m-d')) > session.date|date('Y-m-d') %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Donnez une note..</h2>
            </div>
            <div class="card-body">
                {% if app.user != session.organizerid and app.user in session.studentid and userHasAlreadyMarked is null %}
                    {{ form_start(formMarking) }}
                    <div class="form-group">
                        {{ form_row(formMarking.markingAmbience) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(formMarking.markingEfficiency) }}
                    </div>
                    <input type="submit" value="Valider" class="btn btn-info">
                    {{ form_end(formMarking) }}
                {% elseif userHasAlreadyMarked %}
                    Vous avez deja noté cette scéance :
                    <br>
                    Ambience : {{ userHasAlreadyMarked.markingAmbience }}/5
                    <br>
                    Efficacité : {{ userHasAlreadyMarked.markingEfficiency }}/5
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="card mt-4">
        <div class="card-header" style="background-color: rgba(0,0,0,.00);">
            <h2>Partager la séance</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" placeholder="Nom de la personne" onkeyup="showResult(this.value)">
                        <div id="livesearch"></div>
                    </div>
                    <br/>
                </div>
                <br/>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Liste des participants</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 mx-auto">
                            <div class="card border border-primary">
                                <div class="card-body text-center">
                                    {{ session.organizerid.firstName ~ " " ~ session.organizerid.lastName }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        {% for participant in session.studentid if participant != session.organizerid %}
                            <div class="col-4 p-2 border">
                                {% if participant.avatar %}
                                    <img class="rounded-circle img-fluid"
                                         src="{{ asset('uploads/avatars/' ~ participant.avatar) }}" width="60px"
                                         height="60px"/>
                                {% else %}
                                    <img class="rounded-circle img-fluid"
                                         src="{{ asset('img/imageBaseProfil.png') }}" width="60px"
                                         height="60px"/>
                                {% endif %}
                                <a href="{{ path('student_other_profile', {'uuid_student':participant.uuid}) }}"
                                   class="float-right text-primary">{{ participant.firstName~" "~participant.lastName }}</a>
                                <div class="clearfix"></div>
                                {% if app.user == session.organizerid %}
                                <a href="#"><span class="fas fa-times-circle text-danger float-right"></span></a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalid" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Partager la séance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment partager la séance avec <span id="nomprenom"></span> ?</p>
                </div>
                <div class="modal-footer">
                    <a id="linkpartage" href="#" class="button btn btn-primary">Oui</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script>
            $(document).ready(function () {
                var sessionDate = "{{ session.date|date('Y-m-d') }}";
                var sessionEndingTime = "{{ session.endingTime|date('H:i:s') }}";

                if("{{ 'now'|date('Y-m-d') }}" < sessionDate) {
                    $("#envoyerCommentaire").attr('disabled', true);
                    $("#commentaire").attr('disabled', true);
                    $("#note").attr('disabled', true);
                } else {
                    if("{{ 'now'|date('Y-m-d') }}" == sessionDate && "{{ 'now'|date('H:i:s', "Europe/Paris") }}" < sessionEndingTime) {
                        $("#envoyerCommentaire").attr('disabled', true);
                        $("#commentaire").attr('disabled', true);
                        $("#note").attr('disabled', true);
                    }
                }

            });
        </script>
        <script>
            function myFunction(str, id)
            {
                let idSession = $('#sessionID').html();
                $("#linkpartage").attr("href", "/accueil/shareSession/" + idSession + "/" + id);
                $('#nomprenom').html(str);
                $('#modalid').modal('toggle');
            }
            function showResult(str)
            {
                $.ajax({
                    url: "{{ path('SearchStudent') }}",
                    type: "POST",
                    dataType: "json",
                    data: {"char" : str},
                    async: true,
                    success: function(data)
                    {
                        console.log(data['student']);
                        let val = "";
                        for(let i = 0; i < data['student'].length; i++)
                        {
                            val += "<a href=\"javascript:myFunction('" + data['student'][i] + "', '" + data['id'][i] + "')\">" + data['student'][i] + "</a><br/>";
                        }
                        if(val.length === 0) val = "Aucun résultat";
                        document.getElementById("livesearch").innerHTML = val;
                        document.getElementById("livesearch").style.border="1px solid #A5ACB2";
                    }
                });
                if (str.length==0)
                {
                    document.getElementById("livesearch").innerHTML="";
                    document.getElementById("livesearch").style.border="0px";
                    return;
                }
            }
        </script>
    {% endblock %}
{% endblock %}