{% extends 'base.html.twig' %}
{% set friends = app.user.relations %}
{% block title %}

{% endblock %}

{% block body %}
    <div class="row">
        {% for friend in friendsAccepted %}
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        {% if friend.student2.avatar %}
                            <img class="rounded-circle img-fluid" src="{{ asset('uploads/avatars/' ~ friend.student2.avatar) }}" width="60px" height="60px"/>
                        {% else %}
                            <img class="rounded-circle img-fluid" src="{{ asset('img/imageBaseProfil.png') }}" width="60px" height="60px"/>
                        {% endif %}
                       <a href="{{ path('student_other_profile', {'uuid_student':friend.student2.uuid}) }}" class="float-right text-primary">{{ friend.student2.firstName~" "~friend.student2.lastName }}</a>
                        <div class="clearfix"></div>
                        <a href="#"><span class="btn btn-primary float-right fas fa-comment"></span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h6>Vos demandes d'amis en cours</h6>
                </div>
                <div class="card-body">
                    {% if waitingAcceptations|length > 0 %}
                        {% for wa in waitingAcceptations %}
                            <div class="row">
                                <div class="col-6">
                                    {% if wa.student2.avatar %}
                                        <img class="rounded-circle img-fluid"
                                             src="{{ asset('uploads/avatars/' ~ wa.student2.avatar) }}" width="60px"
                                             height="60px"/>
                                    {% else %}
                                        <img class="rounded-circle img-fluid"
                                             src="{{ asset('img/imageBaseProfil.png') }}" width="60px" height="60px"/>
                                    {% endif %}
                                    <a href="{{ path('student_other_profile', {'uuid_student':wa.student2.uuid}) }}" class="float-right text-primary">{{ wa.student2.firstName~" "~wa.student2.lastName }}</a>
                                    <div class="clearfix"></div>
                                    <a href="{{ path('accept_friend', {'student1': wa.student1.id, 'student2': app.user.id, 'id': wa.id, 'uuid': app.user.uuid}) }}"><span class="btn btn-success float-right fas fa-check"></span></a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        Vous n'avez aucune demande en cours..
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


