{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if students|length %}
                        {% for student in students %}
                            <div class="row">
                                <div class="col-auto">
                                    {% if student.avatar %}
                                        <img class="rounded-circle img-fluid"
                                             src="{{ asset('uploads/avatars/' ~ user.avatar) }}" width="60px"
                                             height="60px">
                                    {% else %}
                                        <img class="rounded-circle img-fluid"
                                             src="{{ asset('img/imageBaseProfil.png') }}"
                                             width="60px" height="60px"/>
                                    {% endif %}
                                </div>
                                <div class="col-4">
                                    {{ student.firstName }}
                                    <br>
                                    {{ student.lastName }}
                                </div>
                                <div class="col-3">
                                    {% if student.trainingid is not null %}
                                        {{ student.trainingid.title }}
                                        <br>
                                        {{ student.trainingid.schoolid.name }}
                                    {% endif %}
                                </div>
                                <div class="col text-right">
                                    <a href="{{ path('student_other_profile', {'uuid_student': student.uuid}) }}"
                                       class="btn btn-primary">Accéder au profil</a>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    {% else %}
                        Desolé, il n'y a aucune résultat, êtes vous sur de votre recherche ?
                        <div class="row mt-4">
                            <div class="col-8 mx-auto">
                                <form action="{{ path('search_student_view') }}" method="get" id="search_student_form">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-8">
                                                <input type="text" class="form-control" placeholder="Recherchez un étudiant.."
                                                       name="search_student">
                                            </div>
                                            <div class="col-3">
                                                <input type="submit" value="Rechercher" class="btn btn-primary">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


