{% extends "base.html.twig" %}

{% block title %}DreamTeach{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 text-center">Memory</h1>
    </div>
    {% set compteur = 0 %}
    <div id="container">
        <div id="memory">
            {% for word in words %}
                {% set compteur = compteur + 1%}
                <div class="row justify-content-around">
                    <button class="col-5" value="{{ word.getWord }}"id="{{ word.getId }}">Card </button>

                    <button class="col-5" value="{{ wordsDefinition[compteur - 1].getDefinition }}" id="{{ wordsDefinition[compteur - 1].getId }}">Card</button>
                </div>
            {% endfor %}
        </div>
    </div>


    <script src="{{ asset('js/memory.js') }}"></script>
{% endblock %}