{% extends 'base.html.twig' %}

{% block title %}Mon agenda{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 text-center">Vos séances</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col">Description</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            {% for i in user.getSessionid() %}
                <tr>

                    <td>{{ i.name() }}</td>
                    <td>{{ i.date.format('d-m-Y') }}</td>
                    <td>{{ i.startingTime.format('H:i') }}</td>
                    <td>{{ i.description()|slice(0, 50)}}{% if i.description()|length > 50 %}....{% endif %}</td>

                    {% if app.user.id==i.organizerId.id %}

                        <td><a href="{{ path('updateSession', {"idSession" : i.id()}) }}"
                               class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Modifier</a></td>
                        <td><a href="{{ path('deleteSession', {"idSession" : i.id()}) }}"
                               class="btn btn-primary btn-sm"><i class="fas fa-trash-alt"></i>Supprimer</a></td>

                    {% endif %}

                    <td><a href="{{ path('RemoveSession', {"idSession" : i.id()}) }}"
                           class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Se désinscrire</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


