{% extends 'base.html.twig' %}

{% block title %}Profil - {{ app.user.lastName }} {{ app.user.firstName }}{% endblock %}



{% block body %}
    <h1>Paramètres du compte</h1>
    <div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h6><i class="fas fa-user-edit fa-lg"></i>&nbsp;Vos informations personnelles</h6>
            </div>
            {{ form_start(formPassword) }}
            <div class="card-body">
                <div class="form-group">
                    <label for="nouveauMotDePasse">Nouveau mot de passe &nbsp;</label>
                    <a href="#"><i class="fas fa-pen" id="editPassword"></i></a>
                    {{ form_widget(formPassword.password, {'id' :  'nouveauMotDePasse', 'disabled': 'disabled', 'class': 'col'})}}
                    <small id="emailHelp" class="form-text text-muted">Le mot de passe doit contenir 8 caractères min</small>
                </div>
                <button type="submit" id="submitPassword" class="btn btn-primary" disabled>Enregistrer le mot de passe</button>
                {{ form_end(formPassword) }}
            </div>
            {{ form_start(formEmailAddress) }}
            <div class="card-body">
                <div class="form-group">
                    <label for="nouvelEmail">Modifier l'e-mail &nbsp;</label>
                    <a href="#"><i class="fas fa-pen" id="editEmail"></i></a>
                    {{ form_widget(formEmailAddress.emailAddress, {'id' :  'adresseEmail', 'disabled': 'disabled', 'class': 'col'})}}
                    <small id="emailHelp" class="form-text text-muted">L'e-mail doit être du type xyz@example.com</small>
                </div>
                <button type="submit" id="submitEmail" class="btn btn-primary" disabled>Enregistrer l'e-mail</button>
                {{ form_end(formEmailAddress) }}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h6><i class="fas fa-thumbs-up fa-lg"></i>&nbspVos Préférences</h6>
            </div>
            <div class="card-body">
                <label>Recevoir des emails en cas de modification ou ajout à une séance</label>
                <div class="form-row">
                    <div class="custom-control custom-radio form-group">
                        <div class="col-6">
                            <input type="radio" id="radio1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="radio1">Oui</label>
                        </div>
                    </div>
                    <div class="custom-control custom-radio form-group">
                        <div class="col-6">
                            <input type="radio" id="radio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="radio2">Non</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $("#editEmail").click(function () {
                  $("#adresseEmail").attr("disabled", false);
                })
                $("#editPassword").click(function () {
                  $("#nouveauMotDePasse").attr("disabled", false);
                })
                $("#nouveauMotDePasse").keypress(function () {
                    if($("#nouveauMotDePasse").val().length >= 7) {
                        $("#submitPassword").removeAttr('disabled');
                    }
                })
                $("#nouveauMotDePasse").keydown(function(e) {
                    if($("#nouveauMotDePasse").val().length < 9) {
                        $("#submitPassword").attr("disabled", true);
                    }
                })

                $("#adresseEmail").keypress(function () {
                    if($("#adresseEmail").val().indexOf("@")  > 0 && ($("#adresseEmail").val().indexOf(".")  > 2 && $("#adresseEmail").val().indexOf(".")  < ($("#adresseEmail").val().length)-1)) {
                        $("#submitEmail").attr('disabled', false);
                    } else {
                        $("#submitEmail").attr('disabled', true);
                    }
                })
                $("#adresseEmail").keyup(function(e) {
                    if($("#adresseEmail").val().indexOf("@")  > 0 && ($("#adresseEmail").val().indexOf(".")  > 2 && $("#adresseEmail").val().indexOf(".")  < ($("#adresseEmail").val().length)-1)) {
                        $("#submitEmail").attr('disabled', false);
                    } else {
                        $("#submitEmail").attr('disabled', true);
                    }
                })
            });
        </script>
    {% endblock %}

{% endblock %}