{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modifiez le QCM</h1>

    {{ form_start(editQcm) }}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="firstname">Titre </label>
                                {{ form_widget(editQcm.title) }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Date </label>
                                {{ form_widget(editQcm.deadline) }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="coucou">Visible </label>
                                {{ form_widget(editQcm.visible) }}
                            </div>
                        </div>
                    </div>
                </div>
                <input name="editer" type="submit" value="Enregistrer">
            </div>
        </div>
    </div>
    {{ form_end(editQcm) }}

{% endblock %}