{% extends 'base.disconnect.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">{% endblock %}
{% block body %}
    <div class="row"style="margin-top:10%">
        <div class="col-5 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h1>Inscription</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 form-group">
                            <h1 class="h3 mb-3 font-weight-normal ">Inscrivez-vous </h1>
                            {{ form_start(formSchool) }}
                                {{ form_widget(formSchool.name, {"attr" : {"id": "selected_school", "placeholder" : "Ecole fréquentée...", "required" : ""}}) }}
                            {{ form_end(formSchool) }}
                        </div>
                    </div>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-12 form-group">
                            {{ form_widget(form.trainingid, {"attr" : {"placeholder" : "Nom de famille...", "required" : ""}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            {{ form_widget(form.lastname, {"attr" : {"class" : "form-control", "placeholder" : "Nom de famille...", "required" : ""}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            {{ form_widget(form.firstname, {"attr" : {"class" : "form-control", "placeholder" : "Prénom...", "required" : ""}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            {{ form_widget(form.emailaddress, {"attr" : {"class" : "form-control", "placeholder" : "Votre email...", "required" : ""}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            {{ form_widget(form.password, {"attr" : {"class" : "form-control", "placeholder" : "Mot de passe...", "required" : ""}}) }}
                            <span class="text-danger">{{ form_errors(form.password)}}</span>
                        </div>
                    </div>

                    <span>Deja un compte ?&nbsp;<a href="{{ path('app_login') }}">Connectez-vous</a></span>
                    <input type="submit" value="S'inscrire" class="btn btn-block mt-2" style="background-color:#6d7fcc; color:white;">
                    {{ form_end(form) }}

                </div>

            </div>
        </div>
    </div>
    <script src="js/generateDropDownTraining.js"></script>
{% endblock %}


