{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12 form-group">
            {{ form_widget(form.lastname) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            {{ form_widget(form.firstname) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            {{ form_widget(form.emailaddress) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            {{ form_widget(form.password) }}
            <span class="text-danger">{{ form_errors(form.password) }}</span>
        </div>
    </div>

    <input type="submit" value="S'inscrire" class="btn btn-primary">
    {{ form_end(form) }}

{% endblock %}


