{% extends "base.html.twig" %}
{% block title %}Bonjour{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="background-color: rgba(0,0,0,.00);">
            <h2>Description séance</h2>
            {{ form_start(formSessionCreation) }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Nom Session </label>
                            {{ form_widget(formSessionCreation.name) }}

                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Matière étudiée </label>
                            {{ form_widget(formSessionCreation.subjectid) }}
                        </div>
                    </div>


                    <label for="exampleFormControlTextarea1">Description séance</label>
                    {{ form_widget(formSessionCreation.description) }}




                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header" style="background-color: rgba(0,0,0,.00);">
            <h2>Plannification</h2>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Date</label>
                    {{ form_widget(formSessionCreation.date) }}
                </div>
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Heure de début</label>
                    {{ form_widget(formSessionCreation.startingTime) }}
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Heure de fin</label>
                    {{ form_widget(formSessionCreation.endingTime) }}
                </div>
                <div class="form-group col-md-6">
                    <div class="custom-control custom-switch">
                        {{ form_widget(formSessionCreation.isVirtual,{ 'id': 'customSwitch1','required' : false,'attr': { 'class' : 'custom-control-input' } } ) }}

                        <label class="custom-control-label" for="customSwitch1">La séance est-elle
                            virtuelle?</label>
                    </div>
                </div>

            </div>
            <div class="form-row">

                <div class="form-group col-md-4">
                    <label for="inputEmail4">Nombre max de participants</label>
                    {{ form_widget(formSessionCreation.maxnbparticipant) }}
                </div>
                <div class="form-group col-md-8">
                    <label for="inputEmail4">Logiciel vocal</label>
                    {{ form_widget(formSessionCreation.vocalSoftware) }}
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="inputEmail4">Ville </label>
                    {{ form_widget(formSessionCreation.city) }}

                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Etablissement </label>
                    {{ form_widget(formSessionCreation.place) }}

                </div>

            </div>

            <input type="submit" value="Enregistrer" class="btn btn-primary btn-lg btn-block">


        </div>

    </div>
    {{ form_end(formSessionCreation) }}


    {% block javascripts %}
        <script>
            $(document).ready(function () {


                var ckbox = $('#customSwitch1');

                $('input').on('click',function () {
                    //run code
                    if (ckbox.is(':checked')) {

                        $("#session_form_place").prop('disabled', true);
                        $("#session_form_city").prop('disabled', true);
                        $("#session_form_vocalSoftware").prop('disabled', false);
                    }
                    else{
                        $("#session_form_vocalSoftware").prop('disabled', true);
                        $("#session_form_place").prop('disabled', false);
                        $("#session_form_city").prop('disabled', false);
                    }
                })



            });
        </script>
    {% endblock %}


    {% endblock %}
