{% extends 'base.html.twig' %}

{% block title %}Qcms{% endblock %}

{% block body %}
    {% if qcms %}
    <div class="container">
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead class="thead-dark">
                <tr>
                    <th>Titre</th>
                    <th>Date limite</th>
                    <th>État</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for qcm in qcms %}
                    <tr>
                        <td>{{ qcm.title }}</td>
                        <td>{{ qcm.deadline|date('d M Y') }}</td>
                        {% if qcm.visible == 1 %}
                            <td id="createdMessage{{ qcm.id }}" class="process">Publié</td>
                        {% else %}
                            <td id="createdMessage{{ qcm.id }}" class="denied">Non publié</td>
                        {% endif %}
                        {% if qcm.authorId.id == user.id %}
                            <td class="text-center">
                                <a class="btn btn-warning" href="editQcm/{{ qcm.id }}" role="button"><i class="far fa-edit"></i> Éditer</a>
                            </td>
                        {% else %}
                            <td class="text-center">
                                <a class="btn btn-primary" href="answerQcm/{{ qcm.id }}">Répondre au QCM</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="container">
            <div class="alert alert-danger" role="alert">Aucun QCM disponible !</div>
        </div>
    {% endif %}
    <div class="container">
        <a href="{{ path('createQcm') }}" class="btn btn-success btn-lg btn-block"><i class="fas fa-plus-square"></i> Créer un nouveau QCM</a>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}


