{% extends 'base.html.twig' %}

{% block title %}
    Dashboard - DreamTeach
{% endblock %}

{% block body %}
    <div class="row">
    </div>
    <div class="row">
        <div class="col-12">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        Nom
                    </th>
                    <th scope="col">

                        Prénom
                    </th>
                    <th scope="col">

                        Ville
                    </th>
                    <th scope="col">

                        QCM
                    </th>
                    <th scope="col">
                        Score
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for j in result %}
                    {% for i in tableauscore %}
                        <tr>


                            <td> {{ i.lastName }}</td>

                            <td>{{ i.firstName }}</td>

                            <td>{{ i.city }}</td>

                            <td>  {{j.qcmid.title }}</td>

                            <td>  {{ j.result }}</td>
                        </tr>


                    {% endfor %}
                {% endfor %}
                </tbody>
        </div>
    </div>
    </div>
{% endblock %}


