{% extends 'base.html.twig' %}

{% block title %}
    Dashboard - DreamTeach
{% endblock %}

{% block body %}
    <div class="row">
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h6>Classement</h6>
                    <div class="row">
                        <div class="col-3">
                            Nom
                        </div>
                        <div class="col-3">
                            Prénom
                        </div>
                        <div class="col-2">
                            Ville
                        </div>
                        <div class="col-3">
                            QCM
                        </div>
                        <div class="col-1">
                            Score
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% for j in result %}
                        {% for i in tableauscore %}
                            <div class="row">
                                <div class="col-3">
                                    {{ i.lastName }}
                                </div>
                                <div class="col-3">
                                    {{ i.firstName }}
                                </div>
                                <div class="col-2">
                                    {{ i.city }}
                                </div>
                                <div class="col-3">
                                    {{ j.result }}
                                </div>
                                <div class="col-1">
                                    {{ i.xpWon }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
