{% extends 'base.html.twig' %}

{% block title %}
    Dashboard - DreamTeach
{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-8 mx-auto">
            <form action="{{ path('search_xp_view') }}" method="get" id="search_xp_form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" id="rechercherInput" class="form-control"
                                   placeholder="Recherchez un étudiant.."
                                   name="search_xp">
                        </div>
                        <div class="col-3">
                            <input type="submit" id="rechercherBtn" value="Rechercher" class="btn"
                                   style="background-color: #6d7fcc; color: white;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if classementMemory is empty %}
                <div class="alert alert-warning" role="alert">
                    Aucun résultat trouvé
                </div>
            {% else %}
                <table data-toggle="table" class="table table-striped">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">
                            Classement
                        </th>
                        <th class="text-center" scope="col">
                            Nom
                        </th>
                        <th class="text-center" scope="col">
                            Prénom
                        </th>
                        <th class="text-center" scope="col">
                            Ville
                        </th>
                        <th class="text-center" scope="col">
                            Ecole
                        </th>
                        <th class="text-center" scope="col">
                            Temps
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for classement, i in classementMemory %}
                        {% set medaille = "" %}
                        {% if classement == 0 %}
                            {% set medaille = "&#x1F947;" %}
                        {% elseif classement == 1 %}
                            {% set medaille = "&#x1F948;" %}
                        {% elseif classement == 2 %}
                            {% set medaille = "&#x1F949;" %}
                        {% else %}
                            {% set medaille = classement + 1 %}
                        {% endif %}
                        <tr>

                            <td class="text-center"> {{ medaille | raw }} </td>

                            <td class="text-center"> {{ i[0].student.lastName }}</td>

                            <td class="text-center"> {{ i[0].student.firstName }}</td>

                            <td class="text-center">{{ i[0].student.city }}</td>

                            <td class="text-center">  {{ i[0].student.trainingID.schoolID.name }}</td>

                            <td class="text-center">  {{ i[1] }} s</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    {% block javascripts %}
    {% endblock %}
{% endblock %}