{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">{% endblock %}

{% block body %}
    <h1>Modifiez vos informations personnelles</h1>
    {{ form_start(formUser) }}
        {{ form_row(formUser.firstName) }}
        {{ form_row(formUser.lastName) }}
        {{ form_row(formUser.biography) }}
        {{ form_row(formUser.emailAddress) }}
        {{ form_row(formUser.trainingID) }}


    <button type="submit">Modifier le profile</button>
    {{ form_end(formUser) }}

{% endblock %}


