{% extends 'base.html.twig' %}

{% block title %}Modification de profil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Modifiez vos informations personnelles</h1>
    {% if(formUser) %}
<div class="form-group">
    {{ form_start(formUser) }}
<div class="container-fluid">
    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-sm">

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Prenom </label>
                            {{ form_widget(formUser.firstName) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Nom </label>
                            {{ form_widget(formUser.lastName) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Biographie </label>
                            {{ form_widget(formUser.biography) }}

                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Mail </label>
                            {{ form_widget(formUser.emailAddress) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Date de naissance </label>
                            {{ form_widget(formUser.birthDate) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Ville </label>
                            {{ form_widget(formUser.city) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Formation </label>
                            {{ form_widget(formUser.trainingID) }}

                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Avatar </label>
                            {{ form_widget(formUser.avatar) }}
                        </div>
                    </div>
                </div>
            </div>
            <input name="editer" type="submit" value="Enregistrer">
        </div>
    </div>
    {{ form_end(formUser) }}
</div>
    {% endif %}


{% endblock %}


