{% extends 'base.html.twig' %}

{% block title %}Profil - {{ app.user.lastName }} {{ app.user.firstName }}{% endblock %}



{% block body %}
    <div class="container align-content-center mt-5">
        <div class="row justify-content-between">
            <div class="col-6">
                <div class="border border-secondary p-4 bg-light rounded">
                    <div class="row">
                        <div class="col-4">
                            {% if app.user.avatar %}
                                <img class="rounded-circle img-fluid"
                                     src={{ asset('uploads/avatars/' ~ app.user.avatar) }}>
                            {% else %}
                                <img class="rounded-circle img-fluid" src="{{ asset('img/tom_bg.jpg') }}"
                                >
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <span> </br> {{ app.user.biography }} </span>
                        </div>
                        <form action="{{ path('student_profile') }}" method="POST">
                            <button class="btn btn-primary" name="editer" type="submit"><i class="far fa-edit"></i>
                            </button>

                        </form>
                    </div>
                    <hr class="border-left-0 border-secondary ">
                    <div class="text-center">
                        </br>
                        <span class="font-weight-bold h4">{{ app.user.Lastname }} </span>
                        <span class="h4"> {{ app.user.firstName }} </span>
                        {% if  app.user.trainingid is not null %}
                            <div> {{ app.user.trainingid.title }} | {{ app.user.trainingid.schoolid.name }}
                                | {{ app.user.trainingid.schoolid.city }}</div>
                        {% else %}
                            <div> n/a | n/a | n/a</div>
                        {% endif %}
                    </div>
                </div>
                <div class="border border-secondary p-4 mt-5 bg-light rounded">

                    <div class="h5 mb-4"> Competences</div>
                    <hr class="border-left-0 border-secondary ">
                    <div class="row">
                        {% for sl in subjectlevel %}
                            <div class="col-12">
                                {{ sl.subjectid.name }} - {{ sl.mark }}/5
                            </div>
                        {% endfor %}
                    </div>
                    <br/>

                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target=".bd-example-modal-lg">Modifier/ajouter
                    </button>
                </div>
            </div>
            <div class="col-5">
                <div class="border border-secondary p-4 bg-light rounded">
                    {% if  app.user.gradeid  is not null %}
                        <div class="h4 text-center">    {{ app.user.gradeid.name }}</div>
                    {% else %}
                        <div class="h4 text-center">Recrue</div>
                    {% endif %}
                    <div class="h4 text-center">Niveau {{ (app.user.xpWon / 50)|slice(0,1) }}</div>
                    <div class="progress mt-3">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100"
                             style="width:{{ ((app.user.xpWon)/50)|number_format(2, '.', ',')|slice(2,4) }}%;">
                        </div>
                    </div>
                    {% set niveau = (app.user.xpWon / 50)|slice(0,1) %}
                    <span class="text-center"> Vous avez  {{ 50-(((niveau+1)*50)-(app.user.xpWon)) }}/50 pour passer le niveau suivant </span>
                </div>
                <div class="border border-secondary p-4 bg-light mt-4 rounded">
                    <div class="h5 mb-4"> Badges</div>
                    {% for i in app.user.getBadgeid() %}
                        <img src={{ asset("img/tr.png") }} height="50px"> &nbsp;
                        {{ i.getName() }}
                        <br/> <br/>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <!-- Large modal -->


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier vos competences</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-10 border border-secondary p-4 bg-light rounded mt-5">
                                <div class="mb-4 h4">Modifier une note</div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-10 border border-secondary p-4 bg-light rounded mt-5">
                                <div class="h4 mb-4">Ajouter une note</div>
                                <div class="row mb-4">
                                    <div class="col-8">
                                        {{ form_start(form) }}
                                        {{ form_widget((form.subjectid)) }}
                                        {{ form_widget(form.mark) }}
                                        <input type="submit" value="valider">
                                        {{ form_end(form) }}
                                    </div>
                                    <div class="col-2 text-center">
                                        Note :
                                    </div>
                                    <div class="col-2">
                                        <select class="form-control" id="subject">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Confirmer</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>




{% endblock %}