{% extends 'base.html.twig' %}

{% block title %}
    Dashboard - DreamTeach
{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-8 mx-auto">
            <form action="{{ path('search_xp_view') }}" method="get" id="search_xp_form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" id="rechercherInput" class="form-control"
                                   placeholder="Recherchez un étudiant.."
                                   name="search_xp">
                        </div>
                        <div class="col-3">
                            <input type="submit" id="rechercherBtn" value="Rechercher" class="btn" style="background-color: #6d7fcc; color: white;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <table data-toggle="table"  class="table">
                <thead>
                <tr>
                    <th scope="col">
                        Nom
                    </th>
                    <th scope="col">

                        Prénom
                    </th>
                    <th scope="col">

                        Ville
                    </th>
                    <th scope="col">

                        Ecole
                    </th>
                    <th scope="col">
                        XP
                    </th>
                </tr>
                </thead>
                <tbody>

                {% if xpRanking is not null %}
                {% for i in xpRanking %}
                    <tr>


                        <td> {{ i.lastName }}</td>

                        <td>{{ i.firstName }}</td>

                        <td>{{ i.city }}</td>

                        <td>  {{ i.trainingID.schoolID.name }}</td>

                        <td>  {{ i.xpWon }}</td>
                    </tr>


                {% endfor %}
                {% elseif xpRankingSearch is not null %}
                {% for j in xpRankingSearch %}
                    <tr>


                        <td> {{ j.lastName }}</td>

                        <td>{{ j.firstName }}</td>

                        <td>{{ j.city }}</td>

                        <td>  {{ j.trainingID.schoolID.name }}</td>

                        <td>  {{ j.xpWon }}</td>
                    </tr>


                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    {% block javascripts %}
       <script>








       </script>



    {% endblock %}


{% endblock %}



